html {
     scroll-behavior: smooth;
}
body {
     background:url('../images/Alaska.jpg') no-repeat;
     background-size: cover;
     background-attachment: fixed;
}
@font-face {
     font-family:'snowtt.ttf';
     src: url('snowtt.eot') format('eot'),
          url('snowtt.woff') format('woff'),
          url('snowtt.ttf') format('truetype'),
          url('snowtt.svg') format('svg');
 }
 /*Containers*/
.container{
     font-family: roboto, sans-serif;
     margin-bottom: 10px;
}
/*Background-color des containers*/
#background{
     border: 2px solid #ffffffff;
     background-color: #ecd8ac;
     opacity: 0.8;
}
/*Barre du menu de navigation*/
#navbarContent{
    justify-content: flex-end;
}
.nav-item a{
     font-size: 1.4em;
}
.navbar-expand-lg{
     background: #000000;
}
/*Texte d'introduction de la page d'accueil*/
.snow{
     font-size: 3em;
     text-transform: uppercase;
     color: #4d4d4d;
     font-family: 'snowtt.ttf', sans-serif;
}
/*Boutons de navigation de la page d'accueil*/    
.button{
     height: 60px;
     width: 265px;
     font-size: 20px;
     border-radius: 5px;
     background-color: #ecd8ac;
     border: 2px solid #fff;
     margin-top: 15%;
}
/*Encart de bienvenue et demande de 
commentaire pour l'adhérant
page d'accueil et page commentText*/
.welcome{
     text-align: center;
     padding: 10px;
     margin: 5px;
     width: 60%;
     height: auto;
     background-color:#58c058;
     font-weight: bold;
     border: 2px solid #ffffffff;
}
.welcomewidth{
     width: 58.5%;
}
/*Page billetSimple*/
.postContainer{
     margin-top: 100px;
     display: flex;
     flex-direction: column;
     align-items: center;
}
#link{
     background-color:#ecd8ac;
     border-radius: 5px;
}
/*Page commentText 
/*bouton envoi du commentaire*/
#btn-on{
     border-radius: 10px;
     background-color: #ecd8ac;
}
/*Background de l'encart*/
.connect2{
     background-color: #ecd8ac;
}
/* Page insription*/
#containerwidth{
     width: 320px;
}
/*Page contact*/
.checkbox{
     text-align: center;
     margin: 20px;
}
/*Page getUsers*/
.contain{
     margin-top: 0px;
}
/*Footer*/
footer{
     background: #000000;
}
/*Tableaux adhérants et messages*/  
td, th{
     border: 1px solid #fff;
     padding: 10px 20px;
}
.buttonCenter{
     display: flex;
     justify-content: flex-end;
}
#myBtn {
     background-color: red; 
     color: white; 
     cursor: pointer; 
     padding: 15px; 
     border-radius: 10px; 
     font-size: 18px; 
   }
#myBtn:hover {
     background-color: #008000;
   }





   
